
<div class="cart-container">
  <!-- Product List Card -->
  <div class="cart-item-container">
    <div class="product-list">
      <div *ngFor="let item of cartItems; let i = index" class="cart-item">
        <img class="product-image" [src]="item.url" alt="{{ item.name }}" />
        <div class="cart-item-details">
          <h3>{{ item.name }}</h3>
          <p>{{ item.price | currency: 'USD' : 'symbol' }}</p>
          <button (click)="removeItem(item)" class="btn">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Checkout Form Card -->
  <div class="checkout-panel">
    <div *ngIf="cartItems.length === 0" class="empty-cart-message">
      <p>Your cart is empty.</p>
    </div>

    <div class="cart-summary">
      <h2>Cart Summary</h2>
      <p>Total Items: {{ cartItems.length }}</p>
      <p>Total Price: {{ calculateTotal() | currency: 'USD' : 'symbol' }}</p>
    </div>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="checkout-form">
      <h2>Checkout</h2>
      <div class="form-group">
        <input type="text" id="name" class="form-control" placeholder="Enter your name" formControlName="name" />
        <div *ngIf="checkoutForm.get('name')?.invalid && checkoutForm.get('name')?.touched">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <input type="text" id="address" class="form-control" placeholder="Enter your address" formControlName="address" />
        <div *ngIf="checkoutForm.get('address')?.invalid && checkoutForm.get('address')?.touched">
          Address is required.
        </div>
      </div>

      <div class="form-group">
        <input type="text" id="creditCardNumber" class="form-control" placeholder="Credit card number" formControlName="creditCardNumber" />
        <div *ngIf="checkoutForm.get('creditCardNumber')?.invalid && checkoutForm.get('creditCardNumber')?.touched">
          Valid Credit Card Number is required.
        </div>
      </div>

      <div class="form-group">
        <input type="text" id="creditCardExpiration" class="form-control" placeholder="MM/YY" formControlName="creditCardExpiration" />
        <div *ngIf="checkoutForm.get('creditCardExpiration')?.invalid && checkoutForm.get('creditCardExpiration')?.touched">
          Expiration date is required.
        </div>
      </div>

      <div class="form-group">
        <input type="text" id="creditCardCVV" class="form-control" placeholder="CVV" formControlName="creditCardCVV" />
        <div *ngIf="checkoutForm.get('creditCardCVV')?.invalid && checkoutForm.get('creditCardCVV')?.touched">
          CVV is required.
        </div>
      </div>

      <button type="submit" class="btn" [disabled]="!checkoutForm.valid">Place Order</button>
    </form>    
  </div>
</div>

