<!-- Product Details Container -->
<div *ngIf="product" class="detail-container">
  <!-- Product Image -->
  <img [src]="product.url" alt="{{ product.name }}" class="product-image" />

  <!-- Product Details Side -->
  <div class="detail-item">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price | currency: 'USD' : 'symbol' }}</p>
    <div class="select-container">
      <select class="select-input" [(ngModel)]="quantity">
        <option *ngFor="let qty of quantities" [ngValue]="qty">
          {{ qty }}
        </option>
      </select>
    </div>
    <button (click)="addToCart(product)" class="btn">Add to Cart</button>
    <a [routerLink]="['/products']" class="back-link">Back to all products</a>
  </div>
</div>
